<!doctype html>
<html lang="en">

<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
		integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

	<title>Administrator</title>
</head>

<body>
	<div class="container mt-5 alert alert-primary">
		<form id="adminLogin">
			<label for="adminLogin" class="text-secondary">Admin Login</label>
			<div class="form-group">
				<label for="adminEmail">Username</label>
				<input type="text" class="form-control" id="adminEmail" aria-describedby="emailHelp" placeholder="admin"
					required>
			</div>
			<div class="form-group">
				<label for="adminPassword">Password</label>
				<input type="password" class="form-control" id="adminPassword" placeholder="admin123" required>
			</div>
			<button type="submit" class="btn btn-primary">Login</button>
		</form>
	</div>


	<!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
		integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
		crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
		integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
		crossorigin="anonymous"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.9-1/crypto-js.js"></script>
	<script type="text/javascript">
		$(document).ready(function () {
			let serverUrl = 'http://localhost:3000'
			$("#adminLogin").submit(function (e) {
				//console.log(CryptoJS.SHA256($('#adminPassword').val()).toString())
				e.preventDefault()
				$("#adminPassword").val('tachions')
				let fetchOptions = {
					method: 'POST',
					headers: {
						'Content-Type': 'application/json'
					},
					body: JSON.stringify({ username: $('#adminEmail').val(), password: CryptoJS.SHA256($('#adminPassword').val()).toString() })
				}
				fetch(serverUrl + "/admin/dashboard", fetchOptions).then(function (response) {
					if (response.status !== 200) {
						console.log('Something wrong Response Status: ' + response.status)
						return
					}
					response.json().then(function (data) {
						//console.log(data)
						localStorage.setItem('adminHash', CryptoJS.SHA256($('#adminPassword').val()))
						document.write(data.html.replace('uniqueValue123', data.userCount))
					})

				})
			})
		})
	</script>
</body>

</html>