<!DOCTYPE html>
<html lang="en">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
div {
  width: 100px;
  height: 100px;
  background-color: red;
  
  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
    
  margin: auto;
}
</style>
</head>
<body>

<div class="loader"></div>

<script type="text/javascript" src="https://code.jquery.com/jquery-3.4.1.js"></script>
<script type="text/javascript">
  $(document).ready(function(){
    //let downBtnHandler = function(e){}
    let token = localStorage.getItem("token")
    let fetchOptions = {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json'
          },
          body: JSON.stringify({token})
        }
    if(token == null || token == "")
    {
      window.location = '/'
    }
    else{
      //$('html').html("<b>testString</b>")
      fetch('http://localhost:3000/auth',fetchOptions).then(response => {
        if (response.status !== 200) {
          console.log('Something wrong Response Status: ' + response.status)
          return
        }
        response.json().then(function(data) {
          //console.log(data)
          localStorage.setItem('name', data.name)
          localStorage.setItem('email', data.email)
          //console.log(data.html)
          document.write(data.html)
        })
      })
    }
  })
</script>

<!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
</body>
</html>
